body {
  

    background: url('background/background.jpg') ;
	background-repeat:repeat;

}
select, textarea, button {


outline:none; resize:none;}

input{
color:white;
background-color:#045FB4;
}